.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.h1_ {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input_ {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.button_ {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: #a1a1a1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_:hover {
  background-color: #005bb5;
}

.p_ {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
